/*csslint order-alphabetical: false*/

body {
    height: 1500px;

}

.fixed-doboz {
    width: 100%;
    height: 50px;
    background-color: lightblue;
    color: black;
    /* a position fixed, kiszedi az elemet a document flow-ból, és egy fix helyre beteszi */
    /* a többi elem számára ez az elem nem lesz látható */
    position: fixed;
    /* ezek csak akkor működnek ha a position: fixed be van állítva */
    top: 0;
    /* right:0; */
    /* a többi nem statikus pozíciójú elemhez képest ez az elem előrébb lesz */
    z-index: 1;
}

.zold-doboz, .narancs-doboz, .kek-doboz, .piros-doboz { color: white; }

.zold-doboz {
    width: 200px;
    height: 200px;
    background-color: green;
/* az absolute position majdnem olyan mint a fixed, de az elem nem marad a böngésző ablakhoz képest fix helyen */
    /* a position absolute kiveszi az elemet a document flow-ból */
    position: absolute;
}

.narancs-doboz {
    /* a position propery alapértelmezett értéke a static */
    /* static position esetén nincs értelme a z-index-nek  */
    position: static;
    width: 300px;
    height: 300px;
    background-color: orange;
}

.kek-doboz {
    width: 500px;
    height: 500px;
    background-color: blue;
    /* a relative position esetén a többi elem számára ez az elem ugyanúgy látható marad, és nem esik ki */
    /* a document flow-ból, viszont el lehet mozdítani a pozícióját, a böngészőhöz képest relatívan */
    position: static;
    left: 550px;
    /* top: 50px; */
}

.piros-doboz{
    width: 150px;
    height: 50px;
    background-color: red;
    /* Ha egy szülő elem position absolute, vagy relative-ba van,  */
    /* akkor a benne lévő elem ha absolute, vagy relative position-t kap,  */
    /* akkor a szülőhöz képest fog elmozdulni, egyébként pedig a böngésző ablakhoz képest mozdulna el */
    position: absolute;
    left: 200px;
}
.piros-doboz:hover > .fekete-doboz {
    display: block;

}

.fekete-doboz {
    background-color: black;
    color: white;
    width: 50px;
    height: 50px;
    /* a fekete doboz a piros dobozhoz képest lesz relative, mert a piros doboz absolute-ba van */
    position: relative;
    left: 30px;
    display: none;
    top: 30px;
}


.lila-doboz {
    width: 300px;
    height: 300px;
    background-color: purple;
}

